.App {
  margin: 0px;
}

.banner {
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

img {
  grid-column: 1/6;
  grid-row: 1/4;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  grid-column: 3;
  grid-row: 2;
  font-size: 5em;
  font-weight: bold;
  color: white;
  align-self: center;
  justify-self: center;
}

.header {
  background-color: #20272a;
  height: 60px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  overflow: hidden;
}

.topnav {
  display: table;
  height: 100%;
  float: right;
}

.topnav a {
  text-align: center;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  min-width: 105px;
  box-sizing: border-box;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.topnav > a:hover {
  background-color:#4a4f52;
}

.bottomNav1 {
  grid-column: 2;
  grid-row: 3;
  font-weight: bold;
  color: white;
  justify-self: center;
}

.bottomNav2 {
  grid-column: 3;
  grid-row: 3;
  font-weight: bold;
  color: white;
  justify-self: center;
}

.bottomNav3 {
  grid-column: 4;
  grid-row: 3;
  font-weight: bold;
  color: white;
  justify-self: center;
}